#photosContainer{
  max-width: 100%;
	background: gainsboro;
	color: white;
  white-space:nowrap;
  overflow-x: scroll;
  height: 110px;
  padding: 2px;
  margin: 2px;
}
#photoComments{
	width: 100%;
  background: white;
  color: black;
  display: inline-block;
  /*overflow-y: scroll;*/
  text-align: left;
  padding: 2px;
  margin: 2px;
}
.background {
  background-image: url("/public/img/background.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  min-height: 700px;
}
div.comment{
  border: 2px ridge grey;
  padding: 10px;
  border-radius: 5px;
}
.commentBody{
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
}
.imageTitle{
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.commentTitle{
  font-size: 18px;
  font-weight: bold;
}
.username{
  font-style: italic;
}
.timestamp{
  font-style: italic;
  font-size: 12px;
  margin:0;
}
/*input[type='text'],*/
textarea{
  border: 2px ridge darkslategray;
  border-radius: 5px;
  padding: 3px;
  width: 97%;
}
input[type='button']{
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
  padding: 3px;
}