<div class="background" ng-controller="userController">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h1 class="display-1">Galler</h1>
            <hr/>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs nav-justified">
              <li class="nav-item {{data.isSignin? 'active': ''}}">
                <a class="nav-link" href="javascript:void(0)" ng-click="showSignin()">Signin</a>
              </li>
              <li class="nav-item {{data.isSignin? '': 'active'}}">
                <a class="nav-link" href="javascript:void(0)" ng-click="showSignup()">Signup</a>
              </li>
            </ul>
          </div>
          <br/>
          <div class="card-block">
            <div class="container-fluid">
              <div ng-if="data.isSignin" ng-include="'public/user/views/signin.user.client.view.html'"></div>
              <div ng-if="!data.isSignin" ng-include="'public/user/views/signup.user.client.view.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>