<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Galler</title>
</head>
<body>

<div ng-view></div>

<script type="text/javascript" src="/public/lib/angular/angular.js"></script>
<script type="text/javascript" src="/public/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/public/lib/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="/public/modules/client.modules.js"></script>

<script type="text/javascript" src="/public/services/user.client.service.js"></script>
<script type="text/javascript" src="/public/controllers/user.client.controller.js"></script>

<script type="text/javascript" src="/public/services/comment.client.service.js"></script>
<script type="text/javascript" src="/public/services/image.client.service.js"></script>
<script type="text/javascript" src="/public/controllers/image.client.controller.js"></script>

<script type="text/javascript" src="/public/services/auth.client.service.js"></script>
<script type="text/javascript" src="/public/routes/client.routes.js"></script>
<script type="text/javascript" src="/public/app.js"></script>
</body>
</html>