<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="container" ng-controller="imageController">
    <h1 class="page-header">Gallery</h1>
    <div class="row" id="photosContainer">
        <span class="photoItem" ng-repeat="image in images">
            <img class="listPhoto" ng-click="setImage(image._id);" ng-src="imgs/{{image.filename}}"/>
        </span>
    </div>
    <div class="row" id="photoContainer">
        <p class="imageTitle">{{image.title}}</p>
        <img class="mainPhoto" ng-src="imgs/{{image.filename}}"/>
    </div>
    <!--BUG: ng-src-->
    <div class="row" id="photoComments" ng-init="isAddComment=false;replyBody=''">
        <div class="comment" ng-include="'comment.html'"></div>
    </div>
</div>

<script src="lib/js/angular.min.js"></script>
<script src="static/js/imagesApp.js"></script>
</body>
</html>