<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/css/bootstrap.css">
</head>
<body>
<h1>Map Image</h1>
<div ng-controller="imageController">
    <div ng-repeat="image in images">
        <p ng-click="setImage(image._id)">{{image.title}}</p>
    </div>
    <p>{{image.title}}</p>
    <!--BUG: ng-src-->
    <img ng-src="imgs/{{image.filename}}" style="width: 500px"/>
    <div ng-init="addComment=false;replySubject='';replyBody=''">
        <div ng-include="'comment.html'"></div>
    </div>
</div>
<script src="lib/js/angular.min.js"></script>
<script src="static/js/imagesApp.js"></script>
</body>
</html>