<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <style> body {
        position: absolute;
        background: url('/imgs/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel-heading ">
            <div class="panel-title text-">
                <h1>Galler</h1>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <a class="btn btn-primary btn-lg" href="/login">Login</a>
                <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>