<div>{{comment.username}}</div>
<div>{{comment.subject}}</div>
<p>posted {{comment.timestamp|date:"MMMM d yyyy H:mm"}}</p>
<p>{{comment.body}}</p>
<input type="button" value="Reply" ng-show="reply==false" ng-click="reply=true">
<form ng-if="reply">
    <label>Subject</label>
    <input type="text" ng-model="replySubject">
    <label>Comment</label>
    <textarea ng-model="replyBody"></textarea>
    <input type="button" value="Send" ng-click="addReply(comment._id,replySubject,replyBody)">
</form>
<input type="button" value="Cancel" ng-show="reply==true" ng-click="reply=false">
<div ng-repeat="comment in comment.replies">
    <div ng-include="'replies.html'"></div>
</div>
<script src="lib/js/angular.min.js"></script>
<script src="static/js/imagesApp.js"></script>