<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <style rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
</head>
<body>
<div class="container" ng-controller="userController">

    <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
    <button class="btn btn-danger btn-lg" ng-click="logout();">Logout</button>

    <h1>User information</h1>
    <div class="row">
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
    </div>
</div>
<script src="/lib/js/angular.min.js"></script>
<script src="/app/views/js/myAPP.js"></script>
<script src="/app/views/js/userController.js"></script>
</body>
</html>